@page "/login"
@attribute [AllowAnonymous]
@using MudBlazor
@using System.ComponentModel.DataAnnotations 

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    <div style="background-image: url('img/banner.jpg'); background-size: contain ; padding: 2rem; min-height:235px;">
        
    </div>
    <MudGrid Class="mt-8">
        <MudItem xs="12" md="6">
            <MudCard Class="pa-4">
                <MudText Typo="Typo.h5" Class="mb-4">Connexion</MudText>
                <MudForm @ref="loginForm" Model="@loginModel" @bind-IsValid="@loginSuccess"  >
                    <MudTextField T="string"
                        @bind-Value="loginModel.Pseudo"
                        Label="Pseudo"
                        Required="true"
                        RequiredError="Le pseudo est requis!" 
                        Variant="Variant.Outlined"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.PersonPin" />
                    
                    <MudTextField T="string"
                        @bind-Value="loginModel.Password"
                        Label="Password"
                        Required="true"
                        RequiredError="Password is required!"
                        Variant="Variant.Outlined"
                        InputType="InputType.Password"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Lock" />
                    
                    <div class="d-flex justify-space-between align-center">
                        <MudButton Variant="Variant.Filled" 
                                  Color="Color.Error" 
                                  Class="ml-auto mb-4" 
                                  onClick="@SubmitLogin"
                                  Disabled="@(!loginSuccess)"
                                  >
                            Connectez-vous
                        </MudButton>
                       
                    </div>
                </MudForm>
                
                <MudLink Href="/forgot-password" Class="mb-4 d-block">
                    Mot de passe oublié ?
                </MudLink>
            </MudCard>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudCard Class="pa-4">
                <MudText Typo="Typo.h5" Class="mb-4">Inscrivez-vous</MudText>
                <MudForm @ref="registerForm" Model="@registerModel" @bind-IsValid="@registerSuccess"  >
                    <MudTextField T="string"
                        @bind-Value="registerModel.Pseudo"
                        Label="Pseudo"
                        Required="true"
                        RequiredError="Le pseudo est requis!"
                        Variant="Variant.Outlined"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Person" />
                        
                    <MudTextField T="string"
                        @bind-Value="registerModel.Email"
                        Label="Email address"
                        Required="true"
                        RequiredError="l'Email est requis!"
                        Validation="@(new EmailAddressAttribute() {ErrorMessage = "L'adresse em-mail est invalide'"})"
                        Variant="Variant.Outlined"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Email" />
                    
                    <MudTextField T="string"
                        @bind-Value="registerModel.MotDePasse"
                        Label="Mot de passe"
                        Required="true"
                        RequiredError="Mot de passe requis!"
                        Variant="Variant.Outlined"
                        InputType="InputType.Password"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Lock" />
                        
                    <MudTextField T="string"
                        @bind-Value="registerModel.MotDePasseConfirmation"
                        Label="Confirmer le mot de passe"
                        Required="true"
                        RequiredError="La confirmation du mot de passe est requise!"
                        Validation="@(new Func<string, string>(PasswordMatch))"
                        Variant="Variant.Outlined"
                        InputType="InputType.Password"
                        Class="mb-4"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Lock" />
                    
                    <MudButton Variant="Variant.Filled" 
                              Color="Color.Error" 
                              FullWidth="true" 
                              Class="mb-4" 
                              Disabled="@(!registerSuccess)"
                              onclick="@SubmitRegister">
                        Enregistrez-vous
                    </MudButton>
                </MudForm>
                @* 
                <MudText Typo="Typo.body1" Class="mb-4 text-center">OR</MudText>
                
                <MudButton Variant="Variant.Filled" 
                          StartIcon="@Icons.Custom.Brands.Facebook"
                          Color="Color.Primary" 
                          FullWidth="true" 
                          Class="mb-2">
                    SIGN IN WITH FACEBOOK
                </MudButton>
                
                <MudButton Variant="Variant.Filled" 
                          StartIcon="@Icons.Custom.Brands.Google"
                          Color="Color.Error" 
                          FullWidth="true" 
                          Class="mb-2">
                    SIGN IN WITH GOOGLE
                </MudButton>
                
                <MudButton Variant="Variant.Filled"
                          StartIcon="@Icons.Custom.Brands.Twitter"
                          Color="Color.Info"
                          FullWidth="true">
                    SIGN IN WITH TWITTER
                </MudButton> *@
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudOverlay Visible="@isLoading" DarkBackground="true" Absolute="true">
    <svg class="mickey-loader" viewBox="0 0 100 100">
        <!-- Tête de Mickey -->
        <circle cx="50" cy="50" r="35" fill="#000" />
        <!-- Oreille gauche -->
        <circle cx="20" cy="20" r="20" fill="#000" />
        <!-- Oreille droite -->
        <circle cx="80" cy="20" r="20" fill="#000" />
    </svg> 
</MudOverlay>